{% extends 'base.html' %}
{% load thumbnail %}
{% load crispy_forms_tags %}
{% block content %}
    <script type="text/javascript">
        $(document).ready(function() {
            $("#id_vote").hide();
            $("#id_vote").parent().hide();
        });

        function submit_form(vote) {
            document.getElementById("id_vote").checked = vote;
            alert("im in here");
            document.forms["answer_form"].submit();
        }
    </script>
    <h1>{{ picture_question.title }}</h1>
        <img src="{{ picture_question.image.url }}" width="300" height="300">
    <form id="answer_form" action="." method="post">
        <p>
            <input type="hidden" id="vote_result" name="vote_result"/>
            {% csrf_token %}
            {{ form|crispy }}
        </p>
    </form>
    <span class="glyphicon glyphicon-thumbs-down vote" onclick="submit_form(false)" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-thumbs-up vote" onclick="submit_form(true)" aria-hidden="true"></span>
{% endblock content %}