{% extends 'base.html' %}
{% load thumbnail %}
{% block content %}
    <script type="text/javascript">
        function submit_form(vote) {
            document.getElementById("vote_result").value = vote;
            document.forms["answer_form"].submit();
        }
    </script>
    <h1>{{ picture_question.title }}</h1>
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    <form id="answer_form" action="." method="post">
        <p>
            <input type="hidden" id="vote_result" name="vote_result"/>
            {% csrf_token %}
            {{ form }}
        </p>
    </form>
    <span class="glyphicon glyphicon-thumbs-down" onclick="submit_form(true)" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-thumbs-up" onclick="submit_form(true)" aria-hidden="true"></span>
{% endblock content %}