{% extends 'base.html' %}

{% block extra_styles %}
{% endblock extra_styles %}

{% block content %}
<div class="jumbotron">
    <h1>Welcome to Honest Husband!</h1>

    <p class="lead responsive_headline">
        Get an honest answer to the age-old question, "Does this make my ass look fat?"
        Take a picture of a new pair of pants (or anything else) you're debating and let the mob decide, yes or no!
        Connect with facebook to get answers from your friends!
    </p>

    <p>
        <a class="btn btn-lg btn-success" href="/accounts/register/" role="button">Sign up today</a>
    </p>
</div>

<footer class="footer">
    <p>&copy; The Djuggernauts 2015</p>
</footer>
{% endblock content %}
