{% extends 'base.html' %}

{% block content %}
    <script type="text/javascript">
        function submitVote(e) {
            document.getElementById("vote_result").value = e.value;
            document.forms["vote_form"].submit();
        }
    </script>
    <form id="vote_form" action="{% url 'crowdTell:submit_vote_result' %}" method="post">{% csrf_token %}
        <h1>{{ question.title }}</h1>
        <input type="hidden" id="vote_result" name="vote_result"/>
        <img src="{{ question.picture.image.url }}"/>
    </form>
    <br/>
    <button onclick="submitVote(this)" value="false">No</button><button onclick="submitVote(this)" value="true">Yes</button>
{% endblock content %}
